.body-div{
    display: grid;
    align-items: center;
    justify-items:center;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
}
img{
    display: inline;
    height: 20%;
    width: 20%;
}
.photoParagraph{
    display: flex;
    justify-content: center;
    align-items: center;
}