body{
    display: flex;
    background-image: url(images/pexels-pixabay-534283.jpg);
    background-size:cover;
}
.body-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items:center;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    /* border-radius: 1%; */
    /* background-color:whitesmoke; */
}
div#photo-cards-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.photo-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    background-color: aliceblue;
    height: 500px;
    width: 300px;
    margin: 10pt;
}
img{
    display: flex;
    height: 20vh;
    width: 30vh;
    border-radius: 3%;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

h1{
    background-color: aliceblue;
    border-radius: 3pt;
}
div.music-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10pt;
    padding: 10pt;
    background-color: aliceblue;
    border-radius: 5pt;
}
form.forms{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    margin: 20pt;
    padding: 20pt;

}
