body{
    background-color: rgb(170, 218, 182);
}
h1{
    display: flex;
    justify-content: center;
}

#blog-div{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    border-bottom: solid black 1pt;
}
.blog-pic{
    height: 60%;
    width: 10%;
    border: solid black 1pt;
    border-radius: 50%;
}
#blog-paragraph{
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 3px;
}
#music-div{
    display: flex;
    justify-content: center;
}