.body-div{
    display: grid;
    align-items: center;
    justify-items:center;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    border-radius: 1%;
}
img{
    height: 30vh;
    width: 20vh;
}
.photoParagraph{
    justify-content: center;
    align-items: center;
}